.App {
  font-family: sans-serif;
  text-align: center;
  background-color: grey;
}
button {
  margin: 10px;
  height: 30px;
  width: 30px;
  background-color: greenyellow;
}
.clear {
  width: 50px;
}
* {
  box-sizing: border-box;
}
button:hover {
  background-color: red;
}
.clear1 {
  width: 80px;
}
